$max-width: 1200px;
$gutter: 20px;
//Öll bil eru hálft, heilt, tvöfalt eða þrefalt margfeldi af gutter

$h-fonts: 'Roboto Mono', 'Courier New', monospace;
$font-main: 'Lora', 'Times New Roman', serif;

$c-black:#000;
$c-gray1:#999;
$c-gray2: #aaa;
$c-gray3: #ccc;
$c-lime:#2d2;
$c-green:#1a1;
$c-creamy: #fcffd2;
$c-pink: #cc9694;

$movement: all 0.3s ease-in-out;

//$white-color: rgb(255, 255,255, 60%);

//$font: 16px;
